.page-loader-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 250px;
    background-color: #3e3c41;
}

.animation-area {
    width: 300px;
    background-color: transparent;
    position: relative;
}

.train-container {
    background-image: url('../img/trainPng.png');
    width: 100%;
    height: 25px;
}

.train-container-before {
    margin: auto;
    width: 290px;
    background-size: 290px;
    top: 0;
    right: 0;
    position: relative;
    transform: rotate(360deg);
    animation-name: trainbefore;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes trainbefore {
    from {
        background-position: 0px;
    }
    to {
        background-position: 290px;
    }
}

.page-loader-desc {
    width: 100%;
    display: block;
    margin-bottom: 90px;
    text-align: center;

    color: var(--secondary);
    text-transform: uppercase;
}

.page-loader-line {
    height: 2px;
    width: 100%;
    border-radius: 50px;
    background-color: #ffca62;
    margin-top: 10px;
}

.bg-loader {
    top: -10px;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #3e3c41;
}

.bg-before {
    left: -20px;
}

.bg-after {
    right: -20px;
}
