:root {
    --main-left-padding: 260px;
    --main-right-padding: 140px;
    --progress-border: 40px;
    --space-row: 25px;

    --secondary: #928f94;
    --secondary-lighter: #c4c4c4;
    --black: #292929;
    --black-light: #3e3c41;
    --bg-main: #ffa800;
    --bg-main-light: #fcdc9d;
    --bg-central: #f7f5f9;
}

@media (max-width: 1715px) {
    :root {
        --main-left-padding: 70px;
        --main-right-padding: 70px;
    }
}

body {
    font-family: 'Roboto';
    color: var(--black);
    font-weight: 300;
    min-width: 1590px;
}

.img {
    background-repeat: no-repeat;
    background-size: cover;
}

/* common */
.section {
    padding-right: var(--main-right-padding);
    padding-left: var(--main-left-padding);
}

.framed {
    padding-right: var(--main-right-padding);
    padding-left: var(--main-left-padding);
}

.btn {
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: inherit;
}

.space-row {
    height: 1px;
    width: var(--space-row);
}

.section-title {
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

.logo {
    font-size: 36px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 900;
}

/* header */
.header {
    color: white;
    background-image: url('../img/header/backHeader.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.header-central {
    background-image: url('../img/header/backHeaderFind.png');
}

.logo-header {
    padding-left: var(--main-left-padding);
    padding-right: var(--main-right-padding);
    background: rgba(0, 0, 0, 0.6);
}

.nav-item {
    font-size: 30px;
}

.nav-list {
    display: flex;
    gap: 85px;
    background: #292929;
    padding: 25px var(--main-left-padding);
    font-weight: 100;
}

.header-content {
    padding-right: 150px;
    margin-top: 265px;

    display: flex;
    justify-content: flex-end;
    column-gap: 100px;

    align-items: center;
}

.header-title {
    width: 500px;
    font-style: normal;
    font-weight: 100;
    font-size: 72px;
    line-height: 84px;
}

.header-title-bold {
    font-weight: 700;
}

.header-form {
    font-weight: 100;
    min-width: 600px;
    max-width: 800px;
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    min-height: 580px;
    background-color: rgba(41, 41, 41, 0.65);
    padding: 80px 25px 40px 15px;
}

.header-form-inline {
    font-weight: 100;
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
    margin-top: 110px;
    background-color: rgba(41, 41, 41, 0.6);
    margin-left: calc(var(--main-left-padding) - 40px);
    margin-right: calc(var(--main-right-padding) - 40px);
    padding: 30px 40px 180px 40px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    flex-grow: 1;
}

.form-row-inline {
    width: 47%;
}

.row-title {
    font-weight: inherit;
    width: 100%;
    padding-left: 10px;
    font-size: 30px;
    margin-bottom: 15px;
}

.row-title-small {
    padding-left: 0;
}

.input-wrapper {
    color: var(--black);
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background: #ffffff;
    border-radius: 3px;
    flex-grow: 1;
}

.input-wrapper-small {
    padding: 10px 15px;
}

.input {
    width: 100%;
    font-size: 18px;
}

.input::placeholder {
    color: #e5e5e5;
}

.find-tickets-btn {
    margin-top: 30px;
    font-weight: 700;
    width: 47%;
    margin-left: auto;
    color: var(--black);
    background: var(--bg-main);
    padding: 15px 20px;
    font-size: 24px;
}

.find-tickets-btn-inline {
    width: 23%;
}

.header-line {
    background: var(--bg-main);
    height: 10px;
}

/* main */
.section-central {
    display: flex;
    column-gap: 100px;

    background-color: var(--bg-central);
    padding-top: 100px;
}

/* .aside-central */
.aside-central {
    color: white;
    width: 365px;
}

.aside-part {
    margin-bottom: 100px;
}

.aside-part-trip {
    background-color: var(--black-light);
}

.trip-section {
    padding-left: 30px;
    padding-right: 35px;
    border-bottom: 1px solid #e5e5e5;
}

.trip-form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    color: #ffffff;
    padding-top: 45px;
    padding-bottom: 30px;
}

/* togglers */
.togglers {
    padding-top: 35px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.toggler-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 30px;
}

.toggler-plug {
    width: 75px;
    height: 25px;
    background-color: var(--bg-main-light);
}

.toggler-desc {
    width: 35%;
    font-size: 18px;
    font-weight: 300;
}

/* cost */
.trip-section-cost {
    padding-top: 35px;
    padding-bottom: 30px;
}

.slider-plug {
    background-color: var(--bg-main-light);
    height: 25px;
    width: 100%;
}

/* subtle-time */
.trip-section-subtle {
    padding-top: 35px;
    padding-bottom: 35px;
}

.subtle-time-container {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.subtle-arrow {
    width: 30px;
    height: 25px;
    background-color: var(--bg-main);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.subtle-arrow-to {
    background-image: url('../img/arrows/arrow-to.png');
}
.subtle-arrow-from {
    background-image: url('../img/arrows/arrow-from.png');
}

.subtle-time-desc {
    flex-grow: 1;
    font-size: 30px;
    font-weight: 400;
}

.subtle-time-collapse {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-position: center;
    font-size: 23px;
    padding: 9px;
}

/* last-tickets */
.aside-part-last-tickets {
    color: black;
}

.last-tickets-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
}

.last-tickets {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.last-ticket {
    padding: 20px 20px 15px 20px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(62, 60, 65, 0.25);
}

.last-cities {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.last-city {
    font-size: 20px;
}

.last-stations {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.last-station {
    color: var(--secondary);
    width: 35%;
}

.last-station-to {
    text-align: right;
}

.last-ticket-footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.last-cost {
    align-items: baseline;
}

.last-cost-count {
    color: var(--bg-main);
}

/* ticket-common */
.cost {
    display: flex;
    color: var(--secondary);
}

.cost-count-container {
    font-size: 36px;
}

.cost-count {
    padding-left: 10px;
    font-weight: bold;
    /* color: var(--black);  */
}

.extra-options {
    display: flex;
    column-gap: 20px;
}

/* .content-central */
.content-central {
    flex-grow: 1;
    width: 60%;
}

/* filtration */
.filtration {
    font-size: 18px;
    color: var(--secondary);
    display: flex;
    column-gap: 50px;
}

.filtration-found {
    flex-grow: 1;
}

.filtration-sort {
    display: flex;
    column-gap: 10px;
}

.filtration-sort-filter {
    color: var(--black);
}

.filtration-amount {
    display: flex;
    column-gap: 10px;
}

.filtration-amount-numbers {
    display: flex;
    column-gap: 10px;
}

.filtration-amount-number {
    cursor: pointer;
}

.filtration-amount-number-active {
    color: var(--black);
}

/* tickets */
.tickets {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-top: 50px;
}

.ticket {
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #c4c4c4;
}

/* .ticket-aside-left */
.ticket-aside-left {
    width: 20%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;

    min-width: 200px;
    padding: 30px 20px;
    background-color: #e4e0e9;
}

.train-number {
    color: var(--black-light);
    font-size: 24px;
    font-weight: 500;
}

.train-station {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 16px;
}

.train-station-previous {
    color: var(--secondary);
}

/* .ticket-center */
.ticket-center {
    width: 54%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    row-gap: 60px;
    padding: 50px 25px 50px 40px;
}

.ticket-direction {
    display: flex;
}

.ticket-info {
    width: 40%;

    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.ticket-time {
    color: #000;
    font-size: 24px;
    font-weight: 500;
}

.ticket-city {
    color: var(--black);
    font-size: 18px;
}

.ticket-station {
    color: var(--secondary);
    font-size: 16px;
}

.travel-time {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 5%;
    left: -40px;
    top: -5px;

    flex-grow: 1;
}

.travel-time-desc {
    color: var(--secondary-lighter);
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}

.ticket-aside-right {
    width: 22%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    min-width: 285px;

    align-self: stretch;
    padding: 35px 25px 25px 25px;
    border-left: 1px dashed #e5e5e5;
}

.ticket-types {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.ticket-type {
    width: 100%;
    display: flex;

    align-items: center;
    column-gap: 20px;
    font-size: 16px;
}

.ticket-amount-left {
    color: var(--bg-main);
}

.main-cost {
    align-items: center;
}

.main-cost-count {
    color: #000;
}

.main-cost-count-container {
    font-size: 24px;
}

.ticket-footer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;
}

.btn-choose-places {
    margin-top: 20px;
    background-color: var(--bg-main);
    color: white;
    font-weight: 500;
    text-transform: initial;
    padding: 5px 20px;
}

/* about-section */
.about {
    margin-top: 145px;
}

.about-content {
    margin-top: 30px;
    padding-left: 20px;
    position: relative;
    width: 950px;
}

.about-content::before {
    left: 0;
    bottom: -15px;
    top: 0;
    position: absolute;
    content: '';
    width: 10px;
    background: var(--bg-main);
}

.about-p {
    font-weight: 300;
    line-height: 28px;
}

.about-p:nth-child(n + 2) {
    margin-top: 50px;
}

.about-p:last-child {
    font-weight: 400;
}

/* section-description */
.description {
    margin-top: 115px;
    padding-top: 60px;
    min-height: 575px;
    background-image: url('../img/description/background.png');
}

.description-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    margin-bottom: 100px;
}

.know-more-btn {
    border: 1px solid #ffffff;
    border-radius: 3px;
    margin-right: 35px;
    padding: 15px 70px;
    font-weight: 500;
}

.skills {
    display: flex;
    column-gap: 170px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    row-gap: 35px;
}

.skill-desc {
    width: 220px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    color: #e5e5e5;
    font-weight: 300;
}

.skill-img {
    width: 160px;
    height: 160px;
}

.skill-img-order {
    background-image: url('../img/description/site-order.png');
}

.skill-img-noneed {
    background-image: url('../img/description/noneed.png');
}

.skill-img-choose {
    background-image: url('../img/description/choose.png');
}

/* reviews */
.reviews {
    min-width: 1590px;
    margin-top: 150px;
}

.reviews-content {
    display: flex;
    align-items: center;
    column-gap: 85px;
    margin-top: 80px;
}

.review {
    flex-grow: 1;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.review-content {
    max-width: 500px;
}

.review-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 30px;
}

.review-img {
    width: 205px;
    height: 205px;
}

.review-desc {
    position: relative;

    font-weight: 300;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    color: rgba(146, 143, 148, 1);
}

.review-desc::before,
.review-desc::after {
    position: absolute;
    content: '"';
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
}

.review-desc::before {
    top: 5px;
    left: -15px;
}

.review-desc::after {
    bottom: 5px;
    margin-left: 5px;
    transform: rotate(180deg);
}

/* slider */
.slider {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-top: 135px;
    margin-bottom: 120px;
}

.slider-item {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #e5e5e5;
}

.slider-item-active {
    background: #c4c4c4;
}

/* footer */
.footer {
    min-height: 520px;
    background: #2d2b2f;
    color: #ffffff;
}

.footer-section {
    padding-top: 50px;
    padding-bottom: 50px;
    /* margin-left: 5%; */
    display: flex;
    flex-wrap: wrap;
    column-gap: 280px;
    /* justify-content: space-between; */
}

.footer-section-right-row {
    flex-grow: 1;
}

.footer-subtitle {
    font-size: 30px;
}

/* contacts */
.contacts-list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 30px;
}

.contact {
    display: flex;
    column-gap: 35px;
    align-items: center;
    font-weight: 300;
}

.contact-link-location {
    display: block;
    width: 200px;
}

.ic-location-footer {
    margin-top: 5px;
    align-self: flex-start;
}

/* subscription */
.subscribe-form {
    margin-top: 30px;
    margin-bottom: 40px;
}

.subscribe-form-row {
    display: flex;
    width: 90%;
    column-gap: 20px;
}

.label-subscription {
    display: block;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.input-wrapper-subscription {
    flex-grow: 1;
}

.btn-subscribe {
    font-weight: 300;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #ffffff;
    border-radius: 3px;
}

/* socials */
.socials-list {
    display: flex;
    align-items: flex-end;
    column-gap: 50px;
    margin-top: 25px;
}

/* footer-bottom */
.footer-bottom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.footer-bottom::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 1px;
    padding: 0;
    width: 100%;
    background-color: #e5e5e5;
}

.footer-collapse {
    padding: 13px 10px;
    border-radius: 50px;
    border: 1px solid #e5e5e5;
}

.copyright {
    font-weight: 100;
    font-size: 24px;
}
