:root {
    --main-padding: 256px;
}

body {
    font-family: 'Roboto';
}

.header {
    color: white;
    background-image: url('../img/backHeader.png');
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;

    min-height: 90vh;
    min-width: 1450px;
}

.logo {
    background: rgba(0, 0, 0, 0.6);
    font-size: 36px;
    padding: 15px var(--main-padding);
    font-weight: 900;

    line-height: 42px;
}

.nav-item {
    font-size: 30px;
}

.nav-list {
    display: flex;
    gap: 85px;
    background: #292929;
    padding: 25px var(--main-padding);
    font-weight: 100;
}

.header-content {
    margin-top: 265px;
    padding-left: 340px;
    display: flex;
    /* flex-wrap: wrap; */
    column-gap: 100px;
    align-items: center;
}

.header-title {
    width: 510px;
    font-style: normal;
    font-weight: 100;
    font-size: 72px;
    line-height: 84px;
}

.header-title-bold {
    font-weight: 700;
}

/* ticket-form */
.ticket-form {
    display: flex;
    flex-direction: column;
    row-gap: 60px;

    min-width: 610px;
    max-width: 750px;
    min-height: 580px;
    background-color: rgba(41, 41, 41, 0.8);
    padding: 80px 25px 0px 15px;
}

.ticket-row-title {
    font-weight: 100;
    width: 100%;
    padding-left: 10px;
    font-size: 30px;
    margin-bottom: 15px;
}

.ticket-form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 20px;
    background: #FFFFFF;
    border-radius: 3px;
    font-size: 18px;
    width: 47%;
}

.input-wrapper ::placeholder {
    color: #E5E5E5;
}

.ic {
    background-repeat: no-repeat;
}

.ic-reset {
    width: 24px;
    height: 24px;
    background-image: url('../img/icon-refresh.png');
}

.ic-location {
    width: 20px;
    height: 30px;
    background-image: url('../img/icon-location.png');
}

.ic-calendar {
    width: 27px;
    height: 30px;
    background-image: url('../img/icon-calendar.png');
    background-size: cover;
}

.find-tickets-btn {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 700;
    background: #FFA800;
    border-radius: 5px;
    width: 47%;
    padding: 15px 10px;
    margin-left: auto;
    text-transform: uppercase;
    color: #292929;
}

.header-line {
    background: #FFA800;
    height: 10px;
}